@charset "UTF-8";
* {
  box-sizing: border-box;
}

#app,
html,
body {
  height: 100%;
  width: 100%;
}

#app {
  position: relative;
}

@keyframes identifier {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes left {
  0% {
    transform: translateX(-150%);
  }
  100% {
    scale: 1.1;
    transform: translateX(0);
  }
}

@keyframes right {
  0% {
    transform: translateX(150%);
  }
  100% {
    scale: 1.1;
    transform: translateX(0);
  }
}

#app .box-one {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#app .box-one .top {
  position: absolute;
  animation: left 1.5s ease-in-out;
  top: 13.33333vw;
  left: 13.33333vw;
}

#app .box-one .top .logo-box {
  width: 21.33333vw;
  height: 21.33333vw;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#app .box-one .top .logo-box img {
  height: 100%;
  width: 100%;
}

#app .box-one .top .text-box {
  font-weight: bold;
  background: linear-gradient(to bottom, #fde2af, #fbd79b);
  -webkit-background-clip: text;
  /* 使用-webkit-前缀兼容部分浏览器 */
  background-clip: text;
  color: transparent;
}

#app .box-one .top .text-box .text1 {
  font-size: 20vw;
  letter-spacing: 2.66667vw;
}

#app .box-one .top .text-box .text2 {
  font-size: 8vw;
  letter-spacing: 1.33333vw;
}

#app .box-one .bottom {
  position: absolute;
  bottom: 26.66667vw;
  right: 13.33333vw;
  font-weight: bold;
  background: linear-gradient(to bottom, #fde2af, #fbd79b);
  -webkit-background-clip: text;
  animation: right 1.5s ease-in-out;
  /* 使用-webkit-前缀兼容部分浏览器 */
  background-clip: text;
  color: transparent;
}

#app .box-one .bottom .text1 {
  font-size: 8vw;
}

#app .box-one .bottom .text2 {
  font-size: 5.33333vw;
}

#app .box-one .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#app .box-one .center .container {
  width: 75vw;
  height: 65vw;
  position: relative;
  overflow: hidden;
  animation: ani1 2s ease-in-out;
}

#app .box-one .center .container::before {
  content: '';
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #fbd79b;
  border-radius: 0.66667vw;
}

#app .box-one .center .line-top {
  position: absolute;
  width: 80px;
  height: 2px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #fbd79b, #fff);
  animation: left_to_right 4s 0s linear infinite;
}

#app .box-one .center .line-right {
  position: absolute;
  width: 2px;
  height: 80px;
  top: -80px;
  right: 0;
  background: linear-gradient(#fbd79b, #fff);
  animation: top_to_bottom 4s 3s linear infinite;
}

#app .box-one .center .line-bottom {
  position: absolute;
  width: 80px;
  height: 2px;
  bottom: 0;
  right: -80px;
  background: linear-gradient(to left, #fbd79b, #fff);
  animation: right_to_left 4s 6s linear infinite;
}

#app .box-one .center .line-left {
  position: absolute;
  width: 2px;
  height: 80px;
  bottom: -80px;
  left: 0;
  background: linear-gradient(to top, #fbd79b, #fff);
  animation: bottom_to_top 4s 9s linear infinite;
}

@keyframes left_to_right {
  0% {
    left: -80px;
  }
  100% {
    left: calc(100% + 80px);
  }
}

@keyframes top_to_bottom {
  0% {
    top: -80px;
  }
  100% {
    top: calc(100% + 80px);
  }
}

@keyframes right_to_left {
  0% {
    right: -80px;
  }
  100% {
    right: calc(100% + 80px);
  }
}

@keyframes bottom_to_top {
  0% {
    bottom: -80px;
  }
  100% {
    bottom: calc(100% + 80px);
  }
}

@keyframes ani1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#app .box-two {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#app .box-two .yanhua-box {
  position: absolute;
  z-index: 9999;
  height: 10.66667vw;
  width: 10.66667vw;
  bottom: 2.66667vw;
  border-radius: 50%;
  right: 2.66667vw;
  background: url(../img/yanhua.jpg) no-repeat center center/100% 100%;
  animation: identifier 5s linear infinite;
}

#app .box-two .h5-box {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app .box-two .h5-box .audio-box {
  position: absolute;
  z-index: 9999;
  height: 16vw;
  width: 16vw;
  border-radius: 50%;
  right: 2.66667vw;
  top: 13.33333vw;
  background: url(../img/autio-icon2.webp) no-repeat center center/100% 100%;
  animation: identifier 3s linear infinite;
}

#app .box-two .h5-box .van-nav-bar__content {
  background-color: #000;
}

#app .box-two .h5-box .van-nav-bar__left {
  left: -16px;
}

#app .box-two .h5-box .van-nav-bar__left .logo {
  width: 20vw;
  height: 100%;
  left: -16px;
  border-radius: 0.26667vw;
}

#app .box-two .iframe-box {
  position: absolute;
  height: 100%;
  width: 100%;
}

#app .box-two .iframe-box iframe {
  position: absolute;
  top: 0px;
  left: 0px;
}

#app .box-three {
  height: 100%;
  width: 100%;
  position: relative;
}

#app .box-three .box {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(13deg);
  -webkit-animation: move 5s linear infinite;
}

#app .box-three .minbox {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50px;
  top: 30px;
  -webkit-transform-style: preserve-3d;
}

#app .box-three .minbox li {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

#app .box-three .minbox li:nth-child(1) {
  background: url(../img/logo.jpg) no-repeat 0 0;
  -webkit-transform: translateZ(50px);
}

#app .box-three .minbox li:nth-child(2) {
  background: url(../img/logo.jpg) no-repeat 0 0;
  -webkit-transform: rotateX(180deg) translateZ(50px);
}

#app .box-three .minbox li:nth-child(3) {
  background: url(../img/logo.jpg) no-repeat 0 0;
  -webkit-transform: rotateX(-90deg) translateZ(50px);
}

#app .box-three .minbox li:nth-child(4) {
  background: url(../img/logo.jpg) no-repeat 0 0;
  -webkit-transform: rotateX(90deg) translateZ(50px);
}

#app .box-three .minbox li:nth-child(5) {
  background: url(../img/logo.jpg) no-repeat 0 0;
  -webkit-transform: rotateY(-90deg) translateZ(50px);
}

#app .box-three .minbox li:nth-child(6) {
  background: url(../img/logo.jpg) no-repeat 0 0;
  -webkit-transform: rotateY(90deg) translateZ(50px);
}

#app .box-three .maxbox li:nth-child(1) {
  background: url(../img/logo.jpg) no-repeat 0 0;
  -webkit-transform: translateZ(50px);
}

#app .box-three .maxbox li:nth-child(2) {
  background: url(../img/logo.jpg) no-repeat 0 0;
  -webkit-transform: translateZ(50px);
}

#app .box-three .maxbox li:nth-child(3) {
  background: url(../img/logo.jpg) no-repeat 0 0;
  -webkit-transform: rotateX(-90deg) translateZ(50px);
}

#app .box-three .maxbox li:nth-child(4) {
  background: url(../img/logo.jpg) no-repeat 0 0;
  -webkit-transform: rotateX(90deg) translateZ(50px);
}

#app .box-three .maxbox li:nth-child(5) {
  background: url(../img/logo.jpg) no-repeat 0 0;
  -webkit-transform: rotateY(-90deg) translateZ(50px);
}

#app .box-three .maxbox li:nth-child(6) {
  background: url(../img/logo.jpg) no-repeat 0 0;
  -webkit-transform: rotateY(90deg) translateZ(50px);
}

#app .box-three .maxbox {
  width: 800px;
  height: 400px;
  position: absolute;
  left: 0;
  top: -20px;
  -webkit-transform-style: preserve-3d;
}

#app .box-three .maxbox li {
  width: 200px;
  height: 200px;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
  -webkit-transition: all 1s ease;
}

#app .box-three .maxbox li:nth-child(1) {
  -webkit-transform: translateZ(100px);
}

#app .box-three .maxbox li:nth-child(2) {
  -webkit-transform: rotateX(180deg) translateZ(100px);
}

#app .box-three .maxbox li:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
}

#app .box-three .maxbox li:nth-child(4) {
  -webkit-transform: rotateX(90deg) translateZ(100px);
}

#app .box-three .maxbox li:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
}

#app .box-three .maxbox li:nth-child(6) {
  -webkit-transform: rotateY(90deg) translateZ(100px);
}

#app .box-three .box:hover ol li:nth-child(1) {
  -webkit-transform: translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}

#app .box-three .box:hover ol li:nth-child(2) {
  -webkit-transform: rotateX(180deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}

#app .box-three .box:hover ol li:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}

#app .box-three .box:hover ol li:nth-child(4) {
  -webkit-transform: rotateX(90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}

#app .box-three .box:hover ol li:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}

#app .box-three .box:hover ol li:nth-child(6) {
  -webkit-transform: rotateY(90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}

@keyframes move {
  0% {
    -webkit-transform: rotateX(13deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(13deg) rotateY(360deg);
  }
}

.nav-bar {
  width: 100%;
}

.nav-bar .van-nav-bar__title {
  color: #5ac1d3;
  font-weight: 700;
}

.countdown {
  background-color: #fff;
  border-radius: 6.66667vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13.33333vw;
  margin: 2.66667vw;
}

.countdown .van-count-down {
  color: #7a6dd6;
}

.swiper-box {
  height: 46.66667vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  padding: 0 2.66667vw;
}

.swiper-box .van-swipe {
  height: 100%;
  border-radius: 6.66667vw;
}

.swiper-box .van-swipe .van-swipe-item img {
  height: 100%;
  width: 100%;
}

.common-card {
  padding: 4vw;
}

.common-card .title {
  display: flex;
  align-items: center;
  margin-bottom: 4vw;
  color: #b9242c;
  font-size: 18px;
}

.common-card .title .text {
  margin-left: 1.6vw;
}

.common-card .card-body {
  background-color: #fff;
  border-radius: 6.66667vw;
  min-height: 13.33333vw;
  padding: 2.66667vw;
}

.v-collapse .van-cell__title .custom-title {
  font-size: 16px;
  color: #7a6dd6;
}

.v-collapse .content .item {
  display: flex;
  align-items: center;
  margin-bottom: 2.66667vw;
  padding-bottom: 1.33333vw;
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
  font-size: 16px;
  color: #7a6dd6;
}

.v-collapse .content .item img {
  width: 13.33333vw;
  height: 13.33333vw;
  border-radius: 50%;
  margin-right: 4vw;
}

.van-cell::after {
  border: none;
}

.van-hairline--top-bottom::after,
.van-hairline-unset--top-bottom::after {
  border: none;
}

.van-nav-bar__text {
  color: #7a6dd6;
}

.van-swipe__indicators {
  display: none;
}
