@import '..\\css/common-h5.scss';

#app {
  position: relative;
  @keyframes identifier {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .yanhua-box {
    height: rpx(80);
    width: rpx(80);
    border-radius: 50%;
    right: rpx(20);
    background: url(../img/yanhua.jpg) no-repeat center center / 100% 100%;

    animation: identifier 5s linear infinite;
  }
  .h5-box {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .audio-box {
      height: rpx(120);
      width: rpx(120);
      border-radius: 50%;
      right: rpx(20);
      top: rpx(100);
      background: url(../img/autio-icon2.webp) no-repeat center center / 100%
        100%;

      animation: identifier 3s linear infinite;
    }
    @keyframes identifier {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .yanhua-box {
      height: rpx(80);
      width: rpx(80);
      border-radius: 50%;
      right: rpx(20);
      background: url(../img/yanhua.jpg) no-repeat center center / 100% 100%;

      animation: identifier 5s linear infinite;
    }
    .van-nav-bar__content {
      background-color: #000;
    }
    .van-nav-bar__left {
      left: -16px;
      .logo {
        width: rpx(150);
        height: 100%;
        left: -16px;
        border-radius: rpx(2);
      }
    }
  }

  .iframe-box {
    position: absolute;
    height: 100%;
    width: 100%;
    iframe {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
}

.nav-bar {
  width: 100%;

  .van-nav-bar__title {
    color: #5ac1d3;
    font-weight: 700;
  }
}

.countdown {
  background-color: #fff;
  border-radius: rpx(50);
  display: flex;
  justify-content: center;
  align-items: center;
  height: rpx(100);
  margin: rpx(20);
  .van-count-down {
    color: $textColor;
  }
}

.swiper-box {
  height: rpx(350);
  margin-top: rpx(30);
  margin-bottom: rpx(30);
  padding: 0 rpx(20);
  .van-swipe {
    height: 100%;
    border-radius: rpx(50);
    .van-swipe-item {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.common-card {
  padding: rpx(30);

  .title {
    display: flex;
    align-items: center;
    margin-bottom: rpx(30);
    color: $textColor1;
    font-size: 18px;
    .text {
      margin-left: rpx(12);
    }
  }

  .card-body {
    background-color: #fff;
    border-radius: rpx(50);
    min-height: rpx(100);
    padding: rpx(20);
  }
}

.v-collapse {
  .van-cell__title {
    .custom-title {
      font-size: 16px;
      color: $textColor;
    }
  }
  .content {
    .item {
      display: flex;
      align-items: center;
      margin-bottom: rpx(20);
      padding-bottom: rpx(10);
      border-bottom: 1px solid rgba(#ccc, 0.2);
      img {
        width: rpx(100);
        height: rpx(100);
        border-radius: 50%;
        margin-right: rpx(30);
      }
      font-size: 16px;
      color: $textColor;
    }
  }
}
.van-cell::after {
  border: none;
}
.van-hairline--top-bottom::after,
.van-hairline-unset--top-bottom::after {
  border: none;
}

.van-nav-bar__text {
  color: $textColor;
}
.van-swipe__indicators {
  display: none;
}
