* {
  box-sizing: border-box;
}

#app,
html,
body {
  height: 100%;
  width: 100%;
}

#app {
  position: relative;
}

@keyframes identifier {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes left {
  0% {
    transform: translateX(-150%);
  }
  100% {
    scale: 1.1;
    transform: translateX(0);
  }
}

@keyframes right {
  0% {
    transform: translateX(150%);
  }
  100% {
    scale: 1.1;
    transform: translateX(0);
  }
}

@keyframes center {
  0% {
    opacity: 0;
  }
  100% {
    scale: 1.1;
    opacity: 1;
  }
}

#app .box-one,
#app .common1 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../img/bg-mb-3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#app .box-one .top,
#app .common1 .top {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 6.66667vw;
  left: 6.66667vw;
  animation: left 1.5s ease-in-out;
}

#app .box-one .top .logo,
#app .common1 .top .logo {
  width: 40vw;
  height: 20vw;
  background-color: rgba(67, 182, 220, 0.5);
  border-radius: 1.33333vw;
}

#app .box-one .top .logo img,
#app .common1 .top .logo img {
  width: 100%;
  height: 100%;
}

#app .box-one .top .text-box,
#app .common1 .top .text-box {
  color: #43b6dc;
}

#app .box-one .top .text-box .text1,
#app .common1 .top .text-box .text1 {
  font-size: 16vw;
  letter-spacing: 1.33333vw;
  margin: 2.66667vw 0;
}

#app .box-one .top .text-box .text2,
#app .common1 .top .text-box .text2 {
  font-size: 6.66667vw;
  letter-spacing: 2vw;
  margin-bottom: 5.33333vw;
  margin-left: -2.66667vw;
  margin-top: 4vw;
}

#app .box-one .top .text-box .text3,
#app .common1 .top .text-box .text3 {
  font-size: rp(30);
  letter-spacing: 6vw;
  padding-left: 1.33333vw;
}

#app .box-one .bottom,
#app .common1 .bottom {
  position: absolute;
  bottom: 6.66667vw;
  right: 6.66667vw;
  animation: right 1.5s ease-in-out;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#app .box-one .bottom .text-box,
#app .common1 .bottom .text-box {
  color: #43b6dc;
  text-align: right;
}

#app .box-one .bottom .text-box .text1,
#app .common1 .bottom .text-box .text1 {
  font-size: 4vw;
  letter-spacing: 1.33333vw;
  margin: 2.66667vw 0;
}

#app .box-one .bottom .text-box .text2,
#app .common1 .bottom .text-box .text2 {
  font-size: 4vw;
  letter-spacing: 0.66667vw;
  margin-bottom: 5.33333vw;
  margin-left: -2.66667vw;
}

#app .box-one .center,
#app .common1 .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16vw;
  color: #43b6dc;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  animation: center 1.5s ease-in-out;
  font-family: 'Muli', sans-serif;
}

#app .box-two,
#app .common2 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../img/bg-mb-3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#app .box-two .box,
#app .common2 .box {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  bottom: 20%;
  left: 25%;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(13deg);
  -webkit-animation: move 5s linear infinite;
}

#app .box-two .text-box,
#app .common2 .text-box {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #71ccde;
  font-size: 4vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes typing {
  0% {
    opacity: 0.5;
    width: 0;
  }
  100% {
    opacity: 1;
  }
}

#app .box-two .text-box p,
#app .common2 .text-box p {
  font-size: 22px;
  width: 15em;
  white-space: nowrap;
  overflow: hidden;
  opacity: 1;
  padding: 0;
  animation: typing 3s steps(15);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#app .box-two img,
#app .common2 img {
  width: 100%;
  height: 100%;
}

#app .box-two .minbox,
#app .common2 .minbox {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50px;
  top: 30px;
  -webkit-transform-style: preserve-3d;
}

#app .box-two .minbox li,
#app .common2 .minbox li {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

#app .box-two .minbox li:nth-child(1),
#app .common2 .minbox li:nth-child(1) {
  background: url(../img/01.png) no-repeat 0 0;
  -webkit-transform: translateZ(50px);
}

#app .box-two .minbox li:nth-child(2),
#app .common2 .minbox li:nth-child(2) {
  background: url(../img/02.png) no-repeat 0 0;
  -webkit-transform: rotateX(180deg) translateZ(50px);
}

#app .box-two .minbox li:nth-child(3),
#app .common2 .minbox li:nth-child(3) {
  background: url(../img/03.png) no-repeat 0 0;
  -webkit-transform: rotateX(-90deg) translateZ(50px);
}

#app .box-two .minbox li:nth-child(4),
#app .common2 .minbox li:nth-child(4) {
  background: url(../img/04.png) no-repeat 0 0;
  -webkit-transform: rotateX(90deg) translateZ(50px);
}

#app .box-two .minbox li:nth-child(5),
#app .common2 .minbox li:nth-child(5) {
  background: url(../img/05.png) no-repeat 0 0;
  -webkit-transform: rotateY(-90deg) translateZ(50px);
}

#app .box-two .minbox li:nth-child(6),
#app .common2 .minbox li:nth-child(6) {
  background: url(../img/06.png) no-repeat 0 0;
  -webkit-transform: rotateY(90deg) translateZ(50px);
}

#app .box-two .maxbox li:nth-child(1),
#app .common2 .maxbox li:nth-child(1) {
  background: url(../img/1.png) no-repeat 0 0;
  -webkit-transform: translateZ(50px);
}

#app .box-two .maxbox li:nth-child(2),
#app .common2 .maxbox li:nth-child(2) {
  background: url(../img/2.png) no-repeat 0 0;
  -webkit-transform: translateZ(50px);
}

#app .box-two .maxbox li:nth-child(3),
#app .common2 .maxbox li:nth-child(3) {
  background: url(../img/3.png) no-repeat 0 0;
  -webkit-transform: rotateX(-90deg) translateZ(50px);
}

#app .box-two .maxbox li:nth-child(4),
#app .common2 .maxbox li:nth-child(4) {
  background: url(../img/4.png) no-repeat 0 0;
  -webkit-transform: rotateX(90deg) translateZ(50px);
}

#app .box-two .maxbox li:nth-child(5),
#app .common2 .maxbox li:nth-child(5) {
  background: url(../img/5.png) no-repeat 0 0;
  -webkit-transform: rotateY(-90deg) translateZ(50px);
}

#app .box-two .maxbox li:nth-child(6),
#app .common2 .maxbox li:nth-child(6) {
  background: url(../img/6.png) no-repeat 0 0;
  -webkit-transform: rotateY(90deg) translateZ(50px);
}

#app .box-two .maxbox,
#app .common2 .maxbox {
  width: 800px;
  height: 400px;
  position: absolute;
  left: 0;
  top: -20px;
  -webkit-transform-style: preserve-3d;
}

#app .box-two .maxbox li,
#app .common2 .maxbox li {
  width: 200px;
  height: 200px;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
  -webkit-transition: all 1s ease;
}

#app .box-two .maxbox li:nth-child(1),
#app .common2 .maxbox li:nth-child(1) {
  -webkit-transform: translateZ(100px);
}

#app .box-two .maxbox li:nth-child(2),
#app .common2 .maxbox li:nth-child(2) {
  -webkit-transform: rotateX(180deg) translateZ(100px);
}

#app .box-two .maxbox li:nth-child(3),
#app .common2 .maxbox li:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
}

#app .box-two .maxbox li:nth-child(4),
#app .common2 .maxbox li:nth-child(4) {
  -webkit-transform: rotateX(90deg) translateZ(100px);
}

#app .box-two .maxbox li:nth-child(5),
#app .common2 .maxbox li:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
}

#app .box-two .maxbox li:nth-child(6),
#app .common2 .maxbox li:nth-child(6) {
  -webkit-transform: rotateY(90deg) translateZ(100px);
}

#app .box-two .box:hover ol li:nth-child(1),
#app .common2 .box:hover ol li:nth-child(1) {
  -webkit-transform: translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}

#app .box-two .box:hover ol li:nth-child(2),
#app .common2 .box:hover ol li:nth-child(2) {
  -webkit-transform: rotateX(180deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}

#app .box-two .box:hover ol li:nth-child(3),
#app .common2 .box:hover ol li:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}

#app .box-two .box:hover ol li:nth-child(4),
#app .common2 .box:hover ol li:nth-child(4) {
  -webkit-transform: rotateX(90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}

#app .box-two .box:hover ol li:nth-child(5),
#app .common2 .box:hover ol li:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}

#app .box-two .box:hover ol li:nth-child(6),
#app .common2 .box:hover ol li:nth-child(6) {
  -webkit-transform: rotateY(90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}

@keyframes move {
  0% {
    -webkit-transform: rotateX(13deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(13deg) rotateY(360deg);
  }
}

#app .box-three,
#app .common {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../img/bg-mb-3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#app .box-three .yanhua-box,
#app .common .yanhua-box {
  position: absolute;
  height: 10.66667vw;
  width: 10.66667vw;
  bottom: 2.66667vw;
  border-radius: 50%;
  right: 2.66667vw;
  bottom: 2.66667vw;
  z-index: 1000;
  background: url(../img/yanhua.jpg) no-repeat center center/100% 100%;
  animation: identifier 5s linear infinite;
}

#app .box-three .h5-box,
#app .common .h5-box {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app .box-three .h5-box .audio-box,
#app .common .h5-box .audio-box {
  position: absolute;
  z-index: 1000;
  height: 16vw;
  width: 16vw;
  border-radius: 50%;
  right: 2.66667vw;
  top: 13.33333vw;
  background: url(../img/autio-icon2.webp) no-repeat center center/100% 100%;
  animation: identifier 3s linear infinite;
}

@keyframes identifier {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#app .box-three .h5-box .yanhua-box,
#app .common .h5-box .yanhua-box {
  height: 10.66667vw;
  width: 10.66667vw;
  border-radius: 50%;
  right: 2.66667vw;
  background: url(../img/yanhua.jpg) no-repeat center center/100% 100%;
  animation: identifier 5s linear infinite;
}

#app .box-three .iframe-box,
#app .common .iframe-box {
  position: absolute;
  height: 100%;
  width: 100%;
}

#app .box-three .iframe-box iframe,
#app .common .iframe-box iframe {
  position: absolute;
  top: 0px;
  left: 0px;
}

.van-nav-bar__left {
  left: -10px;
}

.van-nav-bar__left .logo {
  width: 20vw;
  height: 95%;
  left: -16px;
  border-radius: 0.26667vw;
}

.nav-bar {
  width: 100%;
}

.nav-bar .van-nav-bar__title {
  color: #000;
  font-weight: 700;
}

.nav-bar .van-nav-bar {
  background-color: rgba(255, 255, 255, 0.5);
}

.countdown {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6.66667vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13.33333vw;
  margin: 2.66667vw;
}

.countdown .van-count-down {
  color: #000;
}

.swiper-box {
  height: 46.66667vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  padding: 0 2.66667vw;
}

.swiper-box .van-swipe {
  height: 100%;
  border-radius: 6.66667vw;
}

.swiper-box .van-swipe .van-swipe-item img {
  height: 100%;
  width: 100%;
}

.common-card {
  padding: 4vw;
}

.common-card .title {
  display: flex;
  align-items: center;
  margin-bottom: 4vw;
  color: #000;
  font-size: 18px;
}

.common-card .title .text {
  margin-left: 1.6vw;
}

.common-card .card-body {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6.66667vw;
  min-height: 13.33333vw;
  padding: 2.66667vw;
}

.v-collapse .van-cell__title .custom-title {
  font-size: 16px;
  color: #000;
}

.v-collapse .van-cell {
  background-color: transparent;
}

.v-collapse .van-collapse-item__content {
  background-color: transparent;
  color: #000;
}

.v-collapse .content .item {
  display: flex;
  align-items: center;
  margin-bottom: 2.66667vw;
  padding-bottom: 1.33333vw;
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
  font-size: 16px;
  color: #000;
}

.v-collapse .content .item img {
  width: 13.33333vw;
  height: 13.33333vw;
  border-radius: 50%;
  margin-right: 4vw;
}

.van-cell::after {
  border: none;
}

.van-hairline--top-bottom::after,
.van-hairline-unset--top-bottom::after {
  border: none;
}

.van-nav-bar__text {
  color: #7a6dd6;
  background-color: rgba(67, 182, 220, 0.5);
}

.van-swipe__indicators {
  display: none;
}
